body{
    background: #FFFFFF;
}
#register-block-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10% 0 10%;
    background: #d0daea;
    opacity: 90%;
    padding: 10%;

}
#role{
    offset-position: 0 10px;
}
input, select, textarea{
    float: right;
}
input{
    opacity: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 16px;
    padding: 3%;
    margin: 0 0 0 0;

}
#register-button{
    margin: 10% 0 0 0;
    padding: 3% 0 3% 0;
}
